.section_content__character.section_content__content.section_content__content--2.margin-top-medium 
    img(src="/img/chodskypes/chodskypes5.jpg", alt="Chodsky Pes").section_content__img--single.margin-bottom-large
    - const characterPs = character.split('\n')
    each p in characterPs 
        p.paragraph.margin-top-medium=p
    .section_content__img--multiple.margin-top-medium 
        img(src="/img/chodskypes/karakter1.jpg", alt="Chodsky Pes")
        img(src="/img/chodskypes/karakter2.jpg", alt="Chodsky Pes")
        img(src="/img/chodskypes/karakter3.jpg", alt="Chodsky Pes")