svg(width="323" height="334" viewBox="0 0 323 334" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    g#Frame
        g#blob2_small
            g#ellipse2(filter="url(#filter0_d)")
                path(d="M183.848 234.817C218.568 196.52 231.39 197.631 247.222 200.955C263.054 204.28 308.191 228.724 310.236 240.67C312.28 252.615 277.288 274.787 216.291 291.349C155.294 307.912 149.128 273.114 183.848 234.817Z" fill="url(#paint0_linear)")
        g#blob2_big
            g#ellipse1(filter="url(#filter1_d)")
                path(d="M256.129 214.696C217.321 303.868 195.564 300.746 167.748 292.275C139.933 283.803 53.3457 224.283 44.1483 195.97C34.9508 167.658 82.0585 116.61 174.927 79.8258C267.795 43.0415 294.938 125.525 256.129 214.696Z" fill="url(#paint1_linear)")
        g#dog2
            mask(id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="44" y="24" width="224" height="273")
                path(id="ellipse_mask" d="M256.129 214.696C217.321 303.867 195.564 300.746 167.748 292.274C139.932 283.803 53.3453 224.283 44.1478 195.97C158 107.512 74.8384 45.21 150.5 26.5114C226.162 7.81271 294.937 125.524 256.129 214.696Z" fill="white")
            g(mask="url(#mask0)")
                rect(id="dog2svg 1" x="44" y="28" width="197" height="269" fill="url(#pattern0)")
    defs 
        filter(id="filter0_d" x="152.701" y="194.457" width="167.62" height="116.125" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
            feFlood(flood-opacity="0" result="BackgroundImageFix")
            feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0")
            feOffset(dy="5")
            feGaussianBlur(stdDeviation="5")
            feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0")
            feBlend(mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow")
            feBlend(mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape")
        filter(id="filter1_d" x="33.0157" y="64.8512" width="250.247" height="245.419" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
            feFlood(flood-opacity="0" result="BackgroundImageFix")
            feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0")
            feOffset(dy="4")
            feGaussianBlur(stdDeviation="5")
            feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0")
            feBlend(mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow")
            feBlend(mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape")
        pattern(id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1")
            use(xlink:href="#image0" transform="scale(0.00507614 0.00371747)")
        linearGradient(id="paint0_linear" x1="290.494" y1="221.243" x2="210.49" y2="289.616" gradientUnits="userSpaceOnUse")
            stop(stop-color="#FFC837")
            stop(offset="1" stop-color="#FF8008")
        linearGradient(id="paint1_linear" x1="234.505" y1="70.4138" x2="179.318"
            y2="295.529" gradientUnits="userSpaceOnUse")
            stop(stop-color="#985CFF")
            stop(offset="1" stop-color="#370091")
        image(id="image0" data-name="dog2svg.png" width="197" height="269" xlink:href="/img/dog2svg.png")