section.sponsors.margin-top-medium.margin-bottom-large 
    a(href="https://www.happydog.nl/" target="_blank").sponsors__link
        img(src="img/sponsors/happydog_sponsor.png", alt="sponsor logo").sponsors__img
    a(href="https://k9-academy.nl/" target="_blank").sponsors__link
        img(src="img/sponsors/k9_sponsor.png", alt="sponsor logo").sponsors__img
    a(href="https://www.bullepees.nl/" target="_blank").sponsors__link
        img(src="img/sponsors/bullepees_sponsor.png", alt="sponsor logo").sponsors__img
    a(href="https://www.notariaatvaassen.nl/" target="_blank").sponsors__link
        img(src="img/sponsors/ridderhof_sponsor.jpg", alt="sponsor logo").sponsors__img
    a(href="https://www.houdenvanhonden.nl/?gclid=CjwKCAjwieuGBhAsEiwA1Ly_nTsp0nYTJdSb3rq9ZOBDAw6W7SguU1zpsfDYpt-LqF92KIX2_Yl-SxoCLQ0QAvD_BwE" target="_blank").sponsors__link
        img(src="img/sponsors/raadvanbeheer.png", alt="sponsor logo").sponsors__img