extends base

block content
    main.main 
        section.error.margin-top-medium.margin-bottom-medium 
            .error__container 
                h2.header__primary Oh! Something went wrong! 
                h2.header__tertiary--light=code
                p.paragraph=message 