extends base

block content
    main.main
        section.section__header.margin-top-medium.margin-bottom-medium
            img(src="/img/cpcn_logo_tr.png", alt="cpcn logo")
            hr
            h1.header__primary fokken
        section.section__qa.margin-top-medium.padding-lr-medium 
            .section__qa__container.padding-lr-medium.margin-bottom-medium 
                .section__qa__question 
                    h3.header__tertiary Waar vind ik een Chodsky Pes pup en waar moet ik op letten bij een pup in Nederland of uit het buitenland?
                    svg 
                        use(xlink:href=`/img/sprite.svg#icon-chevron-up`)
                .section__qa__answer.open 
                    p.paragraph Via deze site kunt u via het submenu "Kennels Reuen en Teven", de in Nederland bekende fokkers, reuen en teven vinden die voldoen aan ons fokbeleid en de regels van de Raad van Beheer. Daar vind u ook de dek-aankondigingen en geboorteberichten.
                        br
                        br
                        | Veelal komen puppen uit het buitenland. In Tsjechië, het land van herkomst bevinden zich de meeste fokkers.
                        br
                        br
                        | Houd rekening met de regels van de overheid en dat de pup pas Nederland in mag als de pup de rabiës enting heeft gehad en daarbij dan 15 weken oud is.
            .section__qa__container.padding-lr-medium.margin-bottom-medium 
                .section__qa__question 
                    h3.header__tertiary Wilt u een officiële FCI stamboom bij uw hond?
                    svg 
                        use(xlink:href=`/img/sprite.svg#icon-chevron-down`)
                p.section__qa__answer Doordat de Chodsky Pes vanaf 30 april 2019 pas voorlopig erkend is bij de FCI, zijn er nog fokkers die niet via de FCI fokken. Met deze honden kunt u bv niet meedoen met FCI georganiseerde evenementen. Wilt u dit niet, ook niet in de toekomst, is dit natuurlijk geen probleem. Heeft de hond geen FCI stamboom kunt u deze er ook niet meer op een later moment erbij krijgen.
            .section__qa__container.padding-lr-medium.margin-bottom-medium 
                .section__qa__question 
                    h3.header__tertiary Hoe vind u een fokker?
                    svg 
                        use(xlink:href=`/img/sprite.svg#icon-chevron-down`)
                .section__qa__answer 
                    p.paragraph Via deze website van CPCN.nl kunt u rasverenigingen vinden in Nederland en het buitenland. Ook via  Facebook kan men verschillende Chodsky Pes  groepen vinden. Een aantal vooraanstaande Facebook groepen waar men goede informatie vandaan kan halen zijn de:
                        br
                        br
                        | 
                        li Boheemse Herder Rasvereniging "Chodsky Pes Club Nederland" www.cpcn.nl "groep
                        li Chodsky pes / Boheemse Herder - Nederland" groep
                        li Chodsky Pes Cr groep, "Schweizer Chodenländerhunde Freunde" groep 
                        br
                        | Van deze Facebook groepen zijn ook een aantal fokkers lid die hun nesten daar nog wel eens delen.
                        br
                        br
                        | Eenmaal een fokker gevonden kunt u contact leggen met deze fokker. Contact gaat vaak via de mail of  Messenger.  De meeste Tsjechische fokkers spreken een paar woorden Duits of Engels en soms is Google translate een goede uitkomst om met elkaar te communiceren. Hebt u een goed gevoel bij deze fokker, dan kunt u vragen wanneer ze een nest verwachten en of u bij deze fokker op de wachtlijst mag.  Vraag ook altijd om de testen van de ouders. 
            .section__qa__container.padding-lr-medium.margin-bottom-medium 
                .section__qa__question 
                    h3.header__tertiary Waar moet u op letten bij informatie opvragen?
                    svg 
                        use(xlink:href=`/img/sprite.svg#icon-chevron-down`)
                .section__qa__answer 
                    p.paragraph Of de ouders getest zijn op:
                        br
                        br
                        | DM (Degeneratieve Myelopatie) Dit is een is een fatale progressieve neurologische aandoening van het ruggenmerg bij honden. HD (röntgenfoto van de ouders.)
                        br
                        br
                        | Als rasvereniging kunnen wij geen specifieke fokkers aanbevelen in het buitenland. Wij moeten ons objectief opstellen, echter staan wij achter de FCI erkende fokkers. Zodra er fokkers in Nederland zijn die zich bij ons aansluiten, zullen wij, als CPCN, u hier natuurlijk van op de hoogte stellen.
        section.section__documents.margin-top-medium
            .title__container 
                h2.title__header Downloads
            div.section__documents__container.margin-top-medium.margin-bottom-medium.padding-lr-medium
                div.section__documents__document
                    a(href="https://irp-cdn.multiscreensite.com/07069212/files/uploaded/Fokregelement%20CPCN%2022-09-2019.pdf" target="_blank") 
                        svg 
                            use(xlink:href="/img/sprite.svg#icon-file-text")
                        span.paragraph Verenigingsfokreglement
                div.section__documents__document
                    a(href="#") 
                        svg 
                            use(xlink:href="/img/sprite.svg#icon-file-text")
                        span.paragraph Huishoudelijk reglement
                div.section__documents__document
                    a(href="#") 
                        svg 
                            use(xlink:href="/img/sprite.svg#icon-file-text")
                        span.paragraph Ledenconvenant
                div.section__documents__document
                    a(href="#") 
                        svg 
                            use(xlink:href="/img/sprite.svg#icon-file-text")
                        span.paragraph Privacy statement
                div.section__documents__document
                    a(href="#") 
                        svg 
                            use(xlink:href="/img/sprite.svg#icon-file-text")
                        span.paragraph Statuten
        hr.margin-top-medium
        include _sponsors