extends base

block content 
    main.main
        section.section__header.margin-top-medium.margin-bottom-medium
            img(src="/img/cpcn_logo_tr.png", alt="cpcn logo")
            hr
            h1.header__primary galerij
        section#gallery.gallery.margin-bottom-large.margin-top-medium
