extends baseEmail

block content
    p=sender.message
    p=`This is a message from ${sender.email} sent via the cpcn.nl website contact form.`
    p=`Sent at: ${new Date(sender.sentAt).toLocaleString('nl-NL')}.`